<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    </form>
    <table>
        <thead>
            <tr>
                <th> Download Link </th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${files.empty}">
                <td colspan="2"> No File Available </td>
            </tr>
            <tr th:each="file : ${files}">
                <td><a th:href="${file}"> <span th:text="${file}"> </span> </a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>